$iconSpritePath: '/images/glyphicons-halflings.png';
@import '../../../styles/bootstrap/css/bootstrap.min.css';
:host {
  display: block;
}

.fit-borders {
  padding-left: 6%;
  padding-right: 4%;
}

.vertical-line {
  border-right: 1px dotted #ddd;
}

.spacer {
  margin-top: 20px;
}

.clickable {
  cursor: pointer;
}

