$iconSpritePath: '/images/glyphicons-halflings.png';
@import '../../bower_components/bootstrap/dist/css/bootstrap.css';

html {
  font-size: 62.5%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

.vertical-line {
  border-right: 1px dotted #ddd;
}

a {
  cursor: pointer;
}

.fit-borders {
  padding-left: 8%;
  padding-right: 6%;
}
