html {
  font-size: 62.5%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

.vertical-line {
  border-right: 1px dotted #ddd;
}

.a {
  cursor: pointer;
}

.a:active, a:hover {
  outline: 0;
}

.a:hover, a:focus {
  color: #2a6496;
  text-decoration: underline;
}
