$iconSpritePath: '/images/glyphicons-halflings.png';
@import '../../../../bower_components/bootstrap/dist/css/bootstrap.css';
:host {
  display: block;
}

.fit-borders {
  padding-left: 8%;
  padding-right: 6%;
}

