$iconSpritePath: '/images/glyphicons-halflings.png';
@import '../../../styles/bootstrap/css/bootstrap.min.css';
:host {
  display: block;
}

.fit-borders {
  padding-left: 8%;
  padding-right: 6%;
}

